<!DOCTYPE html>
<html>
  <head>
    <%- include('../part/head') %>
  </head>
  <body>
    <%- include('../part/nav') %>

    <div class="container mb-3">

      <h3 class="contentBoxTop mb-3">회원가입</h3>

      <form action="/users" method="post">

        <div class="form-group row">
          <label for="nickname" class="col-sm-3 col-form-label">아이디(필수)</label>
          <div class="col-sm-9">
            <input type="text" id="nickname" name="nickname" value="<%= user.nickname %>" class="form-control <%= (errors.nickname)?'is-invalid':'' %>"> 
            <% if(errors.nickname){ %> 
              <span class="invalid-feedback"><%= errors.nickname.message %></span>
            <% } %>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-3 col-form-label">비밀번호(필수)</label>
          <div class="col-sm-9">
            <input type="password" id="password" name="password" value="" class="form-control <%= (errors.password)?'is-invalid':'' %>"> 
            <% if(errors.password){ %> <!-- 3 -->
              <span class="invalid-feedback"><%= errors.password.message %></span>
            <% } %>
          </div>
        </div>
        <div class="form-group row">
          <label for="passwordConfirmation" class="col-sm-3 col-form-label">비밀번호확인(필수)</label>
          <div class="col-sm-9 col-sm-offset-3">
            <input type="password" id="passwordConfirmation" name="passwordConfirmation" value="" class="form-control <%= (errors.passwordConfirmation)?'is-invalid':'' %>"> <!-- 1, 2 -->
            <% if(errors.passwordConfirmation){ %> <!-- 3 -->
              <span class="invalid-feedback"><%= errors.passwordConfirmation.message %></span>
            <% } %>
          </div>
        </div>
        

        <% if(errors.unhandled){ %> <!-- 4 -->
          <div class="alert alert-danger">
            <%= errors.unhandled %>
          </div>
        <% } %>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" style="background-color:#85AF4B; border:none;">가입완료</button>
        </div>
      </form>

    </div>
  </body>
</html>